<!DOCTYPE html>
<html>
<head>
	<title>Applay Leave</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/user_assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/user_assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/user_assets/css/custom-styles.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
   	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   	<style type="text/css">
	   	::-webkit-scrollbar {
	   		width: 4px;
	   	}
	   	div ::-webkit-scrollbar-thumb {
			background: lightblue; 
			border-radius: 10px;
		}
		::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5px grey; 
			border-radius: 10px;
		}

        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          padding: 8px; 
          text-align: left;
          border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color:#f5f5f5;
            border-radius: 20px;
        }
   	</style>
</head>
<body>

{%csrf_token%}
<!-- ======================================== message box ======================================================================== -->

<div class="modal fade in" id="messagebox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: {{display}}">
    <div class="modal-dialog">
        <div class="modal-content modal-footer modal-header" style="background: linear-gradient(to top left, #a0ffc3 -21%, #79d4ea 123%);border-radius: 10px;top: 60px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="document.getElementById('messagebox').style.display='none';">&times;</button>
            <h4 class="modal-title" id="myModalLabel" style="text-align: center;"><b>Profile</b></h4>
            <div class="modal-body" id="message" style="text-align: center;">
                {{ans|safe}}
            </div>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_submit" onclick="document.getElementById('messagebox').style.display='none';">OK</button>
        </div>
    </div>
</div>


<div class="modal fade in" id="reject_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content modal-footer modal-header" style="background: linear-gradient(to top left, #ffdc30 -21%, #ffd194 123%);border-radius: 10px;top: 60px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="document.getElementById('reject_box').style.display='none';">&times;</button>
            <form method="POST">
                {%csrf_token%}
                <h4 class="modal-title" id="reject_head" style="text-align: center;"><b>Reason</b></h4>
                <div class="modal-body" id="reject_body" style="text-align: center;">
                    <textarea class="form-control" rows="5" name="reject_reason" required="" placeholder="Reason For Rejection"></textarea>
                </div>
                <button class="btn btn-danger" data-dismiss="modal" name="btn_reject" value="" id="btn_reject" onclick="document.getElementById('reject_box').style.display='none';">Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- ============================================================================================================================== -->



    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../admin_home"><i class="fa fa-home"></i> <strong>Admin</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="divider"></li>
                        <li><a href="">
                            <form method="POST">
                                {%csrf_token%}
                                <div class="row">
                                    <div class="col-md-1" style="padding: 8px;"><i class="fa fa-sign-out fa-fw"></i></div>
                                    <div class="col-md-5"><input type="submit" name="logout" value="Logout" class="form-control" style="border:none;box-shadow: none;margin: 0px;"></div>
                                </div>
                            </form>
                        </li></a>
                    </ul>
                </li>
            </ul>
        </nav>

        <div style="background: #22c0cc;">
            <div style="border-radius: 10px;top:100px;">
            	<div class="row" style="padding-top: 50px;"></div>
            	<hr style="border-top: 3px double #8c8b8b;">

	            	<div class="col-md-12">
                        <div class="panel panel-default" style="border-radius: 20px;">
                            <div class="panel-body">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#Leaves" data-toggle="tab">Leaves For Approveel</a>
                                    </li>
                                    <li class=""><a href="#Rejected" data-toggle="tab">Rejected Leaves</a>
                                    </li>
                                    <li class=""><a href="#Employes" data-toggle="tab">Employes</a>
                                    </li>
                                    <li class=""><a href="#Approved" data-toggle="tab">Approved</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane fade {{pag1}}" id="Leaves">

                                        <table>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Reason</th>
                                                <th>Days</th>
                                                <th></th>
                                            </tr>
                                            {% for i in pending %}
                                            <tr style="border-radius: 10px;">
                                                <td>{{i.emp_name}}</td>
                                                <td>{{i.l_type}}</td>   
                                                <td>{{i.l_from}}</td>
                                                <td>{{i.l_to}}</td>
                                                <td>{{i.l_reason}}</td>
                                                <td>{{i.l_days}}</td>
                                                <td>
                                                    <form method="POST">
                                                        {%csrf_token%}
                                                        <button class="form-control btn-success" name="btn_approve" value="{{i.id}}">Approve</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <button class="form-control btn-danger" id="{{i.id}}" name="{{i.id}}" value="{{i.id}}" onclick="reject(this.name);">Reject</button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="tab-pane fade {{pag}}" id="Employes">
                                        <table>
                                            <tr>
                                                <th>Name</th>
                                                <th>User Name</th>
                                                <th>Last Login</th>
                                                <th></th>
                                            </tr>
                                            {% for i in employes %}
                                            <tr>
                                                <td>{{i.first_name}} {{i.last_name}}</td>
                                                <td>{{i.username}}</td>
                                                <td>{{i.last_login}}</td>
                                                <td>
                                                    <form method="POST">
                                                        {% csrf_token%}
                                                        <button class="form-control btn-primary" name="btn_profile" value="{{i.id}}">View</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <input type="hidden" name="btn_view" id="btn_view" value="">
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="Rejected">
                                        <table>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Days</th>
                                                <th>Reason for Rejection</th>
                                            </tr>
                                            {% for i in rejected %}
                                            <tr>
                                                <td>{{i.emp_name}}</td>
                                                <td>{{i.l_type}}</td>
                                                <td>{{i.l_from}}</td>
                                                <td>{{i.l_to}}</td>
                                                <td>{{i.l_days}}</td>
                                                <td>{{i.l_reason}}</td>
                                                <td>{{i.l_r_reason}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="Approved">
                                        <table>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Days</th>
                                            </tr>
                                            {% for i in approved %}
                                            <tr>
                                                <td>{{i.emp_name}}</td>
                                                <td>{{i.l_type}}</td>
                                                <td>{{i.l_from}}</td>
                                                <td>{{i.l_to}}</td>
                                                <td>{{i.l_days}}</td>
                                                <td>{{i.l_reason}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    <script src="/static/user_assets/js/jquery-1.10.2.js"></script>
    <script src="/static/user_assets/js/bootstrap.min.js"></script>
    <script src="/static/user_assets/js/jquery.metisMenu.js"></script>
    <script src="/static/user_assets/js/custom-scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>

        function reject(e){
            document.getElementById("reject_box").style.display='block';
            btn_reject.value=e;
        }
    </script>
   
</body>
</html>