{%csrf_token%}
<!DOCTYPE html>
<html>
<head>
	<title>Leave Management System</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<style type="text/css">
		.popupwindow {
		  display: none; /* Hidden by default */
		  position: fixed; /* Stay in place */
		  z-index: 1; /* Sit on top */
		  padding-top: 10px; /* Location of the box */
		  left: 0;
		  top: 0;
		  width: 100%; /* Full width */
		  height: 100%; /* Full height */
		  overflow: auto; /* Enable scroll if needed */
		  background-color: rgb(0,0,0); /* Fallback color */
		  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		  text-align: center;
		}

		/* Modal Content */
		.popup-content {
		  background-color: #fefefe;
		  border: 4px solid #dadada;
		  border-radius: 20px;
		  /*background-color: rgba(0,0,0,0.8);*/
		  margin: auto;
		  padding: 20px;
		  border: 1px solid #888;
		  width: 50%;
		}
		.close {
		  color: red;
		  font-size: 28px;
		  font-weight: bold;
		}

		.close:hover,
		.close:focus {
		  color: #000;
		  text-decoration: none;
		  cursor: pointer;
		}

	</style>
</head>
<body>
	<div class="row" style="text-align: center;">
		<div class="col-lg-3 col-md-3 col-sm-3"></div>
		<div class="col-lg-6 col-md-6 col-sm-6 border_set">
			<h3>Leave Instructions</h3>
			<h6><u>Type of leaves</u></h6><br>
			<p><b>Sick Leave:</b><br> Max 12 Leaves can be applied in a calender year, without manager approval</p><br>
			<p><b>Privilege/Annual Leave:</b><br> Max 12 Leaves can be applied in a calender year. Manager needs to approve these leaves. If an employee is applying for leave for a Monday then Saturday and Sunday will also be considered as leaves.</p><br>
			<p><b>Marriage Leave:</b><br> Max of 5 days can be availed under this category. Manager approval is needed for this</p><br>
			<p><b>Maternity Leave:</b><br> One Month leave can be availed for this and Manager needs to approve these</p><br>
			
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3" style="padding: 40px;">
			<img src="/static/img/avatar.png" style="height: 200px;width: 200px;padding: 30px;">
			<h5><font color="green">Login</font></h5>
			<h6><font color="red">{{msg|safe}}</font></h6>
			<form method="POST">
				{%csrf_token%}
				<input type="text" name="unam" class="form-control" placeholder="User Name"><br>
				<input type="password" name="pass" class="form-control" placeholder="Password"><br>
				<input type="submit" name="login" value="Login" class="form-control btn-success">
				<label style="color: blue;float: right;cursor: pointer;" onclick="document.getElementById('forgot_pass').style.display='block';">Forgot Password?</label>
			</form>
			<input type="submit" name="login" id="signin" value="Sign Up" class="form-control btn-primary" onclick="document.getElementById('popupwindow').style.display='block';">
		</div>

		<div class="popupwindow" id="forgot_pass">
			<div class="popup-content">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<span class="close" onclick="document.getElementById('forgot_pass').style.display='none';$('#form_forgotpass').trigger('reset');" style="float: right;display: inline;">&times;</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12" id="signup" style="text-align: center;">
						<form method="POST" id="form_forgotpass">
							{%csrf_token%}
							<h5><font color="">Change Password</font></h5><br>
							<input type="text" class="form-control" name="uname" placeholder="User Name"><br>
							<input type="text" class="form-control" name="email" placeholder="Registred Email ID"><br>
							<input type="reset" class="form-control btn-success" value="Submit" id="forgotpass">
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="popupwindow" id="popupwindow">
			<div class="popup-content">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<span class="close" onclick="document.getElementById('popupwindow').style.display='none';" style="float: right;display: inline;">&times;</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12" id="signup" style="text-align: center;">
						<form method="POST">
							{%csrf_token%}
							<h5><font color="">Sign UP</font></h5><br>
							<input type="text" class="form-control" name="fname" placeholder="First Name"><br>
							<input type="text" class="form-control" name="lname" placeholder="Last Name"><br>
							<input type="email" class="form-control" name="uemail" placeholder="Email ID"><br>
							<input type="text" class="form-control" name="uname" placeholder="User Name"><br>
							<input type="password" class="form-control" name="pass" placeholder="Password"><br>
							<input type="password" class="form-control" name="conf_pass" placeholder="Confirm Password"><br>
							<select name="stafftype" class="form-control" id="emptype" selected=none required="">
        						<option disabled selected value >Select User Type</option>
        						<option>Staff</option>
        						<option>Manager</option>
        					</select><br>

							<select name="staffmanager" class="form-control" selected="none" id="managerlist" style="display: none;">
        					</select><br>
							<input type="submit" class="form-control btn-success" name="btn_signin" value="Sign Up">
						</form>
					</div>
				</div>
			</div>
		</div>



		<div class="popupwindow" id="resetpass" style="display: {{disp}}">
			<div class="popup-content">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<span class="close" onclick="document.getElementById('resetpass').style.display='none';" style="float: right;display: inline;">&times;</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12" id="signup" style="text-align: center;">
						<form method="POST" id="form_changepass">
							{%csrf_token%}
							<h5><font color="">Your New password</font></h5><br>
							<input type="password" class="form-control" name="pass" placeholder="New Password"><br>
							<input type="password" class="form-control" name="conf_pass" placeholder="Confirm Password"><br>
							<input type="submit" class="form-control btn-success" id="changePss" value="Change Password">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript">
	$.ajaxSetup({
	      beforeSend: function(xhr, settings) {
	          function getCookie(name) {
	              var cookieValue = null;
	              if (document.cookie && document.cookie != '') {
	                  var cookies = document.cookie.split(';');
	                  for (var i = 0; i < cookies.length; i++) {
	                      var cookie = jQuery.trim(cookies[i]);
	                      // Does this cookie string begin with the name we want?
	                      if (cookie.substring(0, name.length + 1) == (name +'=')) {
	                          cookieValue =
							  decodeURIComponent(cookie.substring(name.length + 1));
	                          break;
	                      }
	                  }
	              }
	              return cookieValue;
	          }
	          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	              // Only send the token to relative URLs i.e. locally.
	              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	          }
	      }
	});
</script>
<script src="/static/css/jquery.min.js"></script>
<script type="text/javascript">

	$("#forgotpass").click(function(e){
	// function forgotpassword(){
		e.preventDefault();
		$.ajax({
			url:"forgotpass",
			type:"POST",
			dataType:"json",
			data:$("#form_forgotpass").serialize(),
			success:function(data){
				if(data.status)
					alert("Please Check your mail For new password");
				else
					alert("Something Went Wrong!!!\nPlease Check your cardinalities.!");
			},
			error:function(){
				alert("Please Enter Correct cardinalities!");
			}
		});
	// }
	});

	$("#changePss").click(function(e){
		e.preventDefault();
		$.ajax({
			url:"change_pass",
			type:"POST",
			dataType:"json",
			data:$("#form_changepass").serialize(),
			success:function(data){
				if(data.status)
					alert("Your Password Has Change Successfully");
				else
					alert("Please Check your cardinalities.!");
			},
			error:function(){
				alert("Something Went Wrong!..");
			}
		});
	});

	$("#signin").click(function(e){
		e.preventDefault();
		$.ajax({
			url:"manager_view",
			type:"POST",
			dataType:"json",
			data:$("#form_changepass").serialize(),
			success:function(data){
				document.getElementById('managerlist').innerHTML="<option disabled selected value >Select Manager</option>"+data.ans;
			}
		});
	});

	$("#emptype").change(function(){
		var selval = $(this). children("option:selected").val();
		if(selval=="Staff")
			document.getElementById('managerlist').style.display="block";
		else
			document.getElementById('managerlist').style.display="none";
	});
</script>
</html>